
.button-dialogs {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-new-book {

    height: 50px;
    width: 10%;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
}
